include LICENSE
include README.md
include dreaming_electric_sheep/server/res/*.html
include dreaming_electric_sheep/server/res/*.css
include build_info.txt
recursive-include dreaming_electric_sheep *.pyx *.pxd *.pxi *.pyi *.py *.c *.h

# Stubs
include dreaming_electric_sheep/py.typed

